<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= meta_title %>" />
    <meta name="twitter:card" content="<%= meta_card_type %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="twitter:image" content="<%= meta_image %>">

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag "application", media: 'all' %>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <% if current_user.present? && current_user.onboarding_complete? %>
    <body class=<%= current_user&.active_theme || "light-body" %> id="user-logged">
      <div class="page-container">
        <div class="content-wrapper">
          <%= render "shared/navbar" %>
          <%= yield %>
        </div>
        <%= render "shared/footer" %>
      </div>
    </body>
  <% else %>
    <body class="light-body" id="user-not-logged-or-onboarding">
      <%= yield %>
    </body>
  <% end %>
  <%= react_component('FlashMessages', props: {messages: flash_messages, mode: current_user&.active_theme || "light"}) %>
  <% unless Rails.env.development? || Rails.env.test? %>
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
    <script type="text/javascript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script>
    <script type="text/javascript">window.Beacon('init', "<%= ENV['HELPSCOUT_KEY'] %>")</script>
    <script type="text/javascript">window.Beacon('identify', {name: "<%= current_user&.name %>", email: "<%= current_user&.email %>"})</script>
  <% end %>
</html>
