<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= meta_title %>" />
    <meta name="twitter:card" content="<%= meta_card_type %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="twitter:image" content="<%= meta_image %>">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag "application", media: 'all' %>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <% if current_user.present?%>
    <body class=<%= active_theme %> id="user-logged">
      <div class="page-container">
        <div class="content-wrapper">
          <%= render "shared/navbar" %>
          <%= yield %>
        </div>
        <%= react_component("ProductAnnouncementModal") %>
        <%= render 'shared/footer' unless current_page?(controller: 'messages') || (controller_name == 'profiles') %>
      </div>
    </body>
  <% else %>
    <body class=<%= active_theme %> id="user-not-logged-or-onboarding">
      <%= yield %>
    </body>
  <% end %>
  <%= react_component('FlashMessages', props: {messages: flash_messages, mode: active_theme == "light-body" ? "light" : "dark"}) %>
  <% unless Rails.env.development? || Rails.env.test? %>
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
    <script id="helpkit-widget" data-project-id="talentprotocol" type="text/javascript" src="https://www.helpkit.so/widget/script.js" async></script>
  <% end %>
</html>
